NTFY_TOPIC=example_notifications
MIN_PRICE_EUR=200
MAX_PRICE_EUR=300
MAX_DISTANCE_KM=80
STATE_DB_PATH=ps5_monitor.sqlite3
NFTY_EMAIL_TO_SEND=example@gmail.com
BASE_URL=https://www.<CHANGE_THIS>
PROXY_URL=<CHANGE_THIS>
PROXY_USER=<CHANGE_THIS>
PROXY_PASSWORD=<CHANGE_THIS>
